body {
    background-color: #f5f7fa;
  }
  
  .degree:after {
    content: '°C';
    position: absolute;
    font-size: 2rem;
    margin-top: 0.4rem;
    font-weight: 400;
  }
  .display-1{
    font-size: 3rem !important;
    font-weight: 500 !important;
    line-height: 0.9;
  }
  .weather-status-img{
    width: 51px;
    height: 51px;
    margin-right: 5px;
  }
  .area-display{
    font-size: 1rem;
  }